.details-info {
    margin-top: -130px;
    background-color: crimson;
}

.book-info {
    font-size: 25px;
}

.description {
    font-weight: bold;
}

.comment-form {
    font-size: 25px;
}

.submit-comment {
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    background-color: white;
     
}

    .buttons {
        display: block;
    } 

 .btn-edit {
       float: left;
       margin-left: 650px;
       
       padding: 2px 6px 2px 6px;
       border-top: 1px solid #CCCCCC;
       border-right: 1px solid #333333;
       border-bottom: 1px solid #333333;
       border-left: 1px solid #CCCCCC;
}

.btn-delete {
        float: right;
        margin-right: 650px;

        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC; 
}  

.comments-part {
    width:fit-content;
  
    margin: 20px auto 25px auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin-left: 50px;
    color: white;
}


