
.error {
    font-size: 20px;
    color: red;
    width: 250px;
    margin: 10px auto;
    border: 2px solid red;
    padding: 5px; 

}

.register {
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    background-color: red;
}

.register:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}



/* section {
    text-align: center;
    margin-top: 5px;    
    position: relative;
    padding-bottom: 5px;
}

form {
    text-align: center;
}

input {
    font-size: 20px;
    display: block;
    margin: 10px auto;
    width: 200px;
    border: 2px solid red;
    padding: 5px;
}

h2 {
    font-size: 50px;
    margin: 0;
}
 */
